.movie-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.movie-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.movie__title {
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

.movie__price {
    text-align: center;
    color: white;
    margin-bottom: 0.5rem;
}

.movie__description {
    color: white;
    text-align: center;
}